<div class="container-fluid">
  <div class="row m-3">
    <div class="card col-12">
      <div class="card-body">
        <h5 class="card-title text-center">Select the artists</h5>
        <div class="container-fluid">
          <div class="row">
            </div>
          </div>
          <div class="row">
            <div class="col-4" *ngFor="let i of cardCount; let index = index">
              <app-search-card (onArtistDeleted)="onArtistDeleted($event)"
                               (onArtistLoaded)="onNewArtistLoaded($event, index)"
                               [artist]="i.artist"
                               [title]="'Artiste ' + (index + 1)" >

              </app-search-card>
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-primary" [disabled]="cardCount.length >= 5" (click)="addAddCard()">+</button>
            </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="hasDatas">
    <app-card id="timeline-card" title="Time Line">
      <app-timeline [data]="timelineData"></app-timeline>
    </app-card>

    <app-card id="ages-card" title="Ages">
      <ngx-charts-bar-vertical
        [results]="ageDatas"
        [legend]="true"
        [animations]="false"
        showDataLabel="true"
        [xAxis]="false"
        [yAxis]="false"
        yScaleMax="100"
        yScaleMin="0"
        [view]="view">
      </ngx-charts-bar-vertical>
    </app-card>

    <app-card id="deezer-fans-card" title="Deezer Fans">
      <app-deezer-fans-chart [data]="deezerFansDatas"></app-deezer-fans-chart>
    </app-card>

    <app-card title="Number of albums">
      <app-bullets-bar-chart [data]="barChartData"></app-bullets-bar-chart>
    </app-card>

    <app-card title="Number of songs">
      <app-sunburst-chart [data]="sunburstData" ></app-sunburst-chart>
    </app-card>
  </ng-container>

  <p *ngIf="!hasDatas" class="text-center">Please select at least one artist !</p>
</div>
