.content-footer-area{
    padding: 45px 30px;
    border: 1px solid #d8d8d8;
    background-color: #f5f9fa;
}
.test{
    background-image: url('https://wallpapersite.com/images/pages/pic_w/12000.jpg');
}
h2{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-family: "Archivo Narrow", sans-serif;
    color: #000000;
    line-height: 1.3;
    font-weight: 700;
}