<p>artist-details works!</p>

<div>
    <!-- <img [src]='artistData.picture.medium' /> -->
    <ul>
        <li>{{artistData.name}}</li>
        <li>{{artistData._id}}</li>
        <li>{{artistData.urlWikipedia}}</li>
    </ul>
</div>
<div class="test">
</div>

<!-- Footer album-->
<section>
    <div class="container">
        <div class="row">
            <!-- ***** Weeks Top ***** -->
            <div class="col-12 col-lg-4">
                <div class="content-footer-area">
                    <div section-heading text-left mb-50 wow fadeInUp>
                        <h2>This week’s top</h2>
                    </div>
                    <!-- Single Top Item -->
                    <div>
                        <!-- <div>
                                <img src="" alt="">
                            </div> -->
                        <h6>Adrien Audouard</h6>
                    </div>
                </div>
            </div>
            <!-- ***** New Hits Songs ***** -->
            <div class="col-12 col-lg-4">
                <div class="content-footer-area">
                    <div>
                        <h2>New Hits</h2>
                    </div>

                    <!-- Single Top Item -->
                    <div>
                        <div>
                            <!-- <div>
                                <img src="" alt="">
                            </div> -->
                            <h6>Adrien Audouard</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Popular Artists ***** -->
            <div class="col-12 col-lg-4">
                <div class="content-footer-area">
                    <div>
                        <h2>Popular Artist</h2>
                    </div>
                    <!-- Single Artist -->
                    <div>
                        <!-- <div>
                                <img src="" alt="">
                            </div> -->
                        <h6>Adrien Audouard</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>